@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodape.css");

:root {
    --cor-fundo:violeta;
    --branco: #7e0468;
    --laranja: #470ed8;
    --azul-gradiente: linear-gradient(97.54deg, #1f0dc5 35.49%, #dbe2e7 165.37%);
    --azul: #ed07a8;
    --font-principal: "Poppins";
    --font-secondary: "Josefin Sans";
    --black: #0aa0b4;
    --cinza: #060505;
    --cinza-claro: #16eac7;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--font-principal);
    font-size: 1em;
    font-weight: 400;
}


